<h3>Account Information</h3>
<form [formGroup]="infoForm" (submit)="infoSubmit()">
  <div class="mb-3">
    <label for="">First Name</label>
    <input
      formControlName="first_name"
      type="text"
      class="form-control"
      name="first_name"
    />
  </div>
  <div class="mb-3">
    <label for="">Last Name</label>
    <input
      formControlName="last_name"
      type="text"
      class="form-control"
      name="last_name"
    />
  </div>
  <div class="mb-3">
    <label for="">Emai</label>
    <input
      formControlName="email"
      type="text"
      class="form-control"
      name="email"
    />
  </div>

  <button class="btn btn-outline-secondary">Save</button>
</form>

<h3 class="mt-4">Change password</h3>
<form [formGroup]="passwordForm" (submit)="passwordSubmit()">
  <div class="mb-3">
    <label for="">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      name="password"
    />
  </div>
  <div class="mb-3">
    <label for="">Password Confirm</label>
    <input
      formControlName="password_confirm"
      type="password"
      class="form-control"
      name="password_confirm"
    />
  </div>
  <button class="btn btn-outline-secondary">Save</button>
</form>
