<main class="form-signin text-center">
  <form (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <input
        [(ngModel)]="firstName"
        name="first_name"
        type="text"
        class="form-control"
        id="floatingName"
      />
      <label for="floatingName">First Name</label>
    </div>

    <div class="form-floating">
      <input
        [(ngModel)]="lastName"
        name="last_name"
        type="text"
        class="form-control"
        id="floatingLast"
      />
      <label for="floatingLast">Last Name</label>
    </div>

    <div class="form-floating">
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        class="form-control"
        id="floatingInput"
      />
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating">
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating">
      <input
        [(ngModel)]="passwordConfirm"
        name="password_confirm"
        type="password"
        class="form-control"
        id="floatingPasswordConfirm"
        placeholder="Password"
      />
      <label for="floatingPasswordConfirm">Password Confirm</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&#9786; 2021</p>
  </form>
</main>
